
  <!--  The following will be injected into the main.html file via {{{body}}} -->

  <!-- HighCharts requires a div with fixed width and height -->
  <div id="chart" style="width:100%; height:400px;"></div>
  <!-- Javascript Begins -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script>
  $(function(){
    // Connect to the websocket (assuming your hostname is raspberrypi)
    var socket = io.connect('http://raspberrypi.local:3000');
    // Create the HighCharts.Chart object (from highcharts.js)
    var chart;
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'chart', // div with fixed width
            events: { // On the chart loaded event, register with socket.io
                load: function() {
                    // Each time an update is published to temperatureUpdate, add point to chart
                    socket.on('temperatureUpdate', function (time, data) {
                        var series = chart.series[0];
                        series.addPoint([time, data]);
                    });
                }
            }
        },
        title: {
            text: 'CPU Temperature Raspberry Pi'
        },
        xAxis: {
            type: 'datetime',
            tickPixelInterval: 150,
            maxZoom: 20 * 1000
        },
        yAxis: {
            minPadding: 0.2,
            maxPadding: 0.2,
            title: {
                text: 'Temperature ºC',
                margin: 80
            }
        },
        series: [{
            name: 'Temperature',
            data: []
        }]
    });
  });

  </script>
